
# System Files
.DS_Store
*.pem

# next.js
/.next/
/out/

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# compiled output
/dist
/tmp

# debug
npm-debug.log*
npm-error.log*

# local env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.scannerwork/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


